main {
    border-radius: 10px;
    min-height: calc(100vh - 130px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;

    .added-alert {
        background-color: black;
        padding: 10px 20px;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
        border: 1px solid black;
        width: 90%;
        z-index: 1000;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        opacity: 1;
        transition: opacity 0.3s ease;
    
        h2 {
            margin: 0;
        }
    }

    .hidden {
        opacity: 0;
    }

    h1 {
        font-weight: bold;
        text-align: center;
        font-size: 36px;
        padding-bottom: 25px;
        padding-top: -25px !important;
    }

    .input-row, .top-input-row {
        display: flex;
        margin-bottom: 10px;
    }

    .input-group, .top-input-group {
        flex: 1;
        margin-right: 10px;
    }

    input[type="text"]:focus {
        border-color: #007bff;
    }

    .buttons-part {
        display: flex;
        justify-content: flex-end; /* Align buttons to the right */
        white-space: nowrap;

        button {
            margin-right: 10px;
        }
    }
}

