h1, h2, h3 {
    font-family: 'Arial', sans-serif; /* Apply the same font family to headings */
    font-weight: bold; /* Adjust the font weight for headings */
    color: #2D3047; /* Set the heading color */
    text-align: center;
}

#para_before_img {
    text-align: center;
    color: #2D3047;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 15px;
    font-family: 'Arial', sans-serif;
}

nav {
    background-color: #2D3047;
    color: #fff;
    padding: 20px 0;
    border-radius: 10px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between; /* Adjusted */

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
    }

    ul li {
        margin-right: 10px;
    }

    ul li a {
        color: #fff;
        text-decoration: none;
        padding: 10px;
    }

    ul :hover {
        background-color: #3D4160;
    }
}

#logo_li {
    margin-right: 465px;
}

#logo_img {
    max-width: 100%;
    height: auto;
    max-height: 50px;
}

.above-image {
    /* background-image: url("../img/landing-team.jpg"); */
    background-image: url("../img/amoc.jpg");
    background-size: cover;
    position: relative;
    background-position: center;
    height: 600px;
    border-radius: 5px;
}

.above-image img {
    max-width: 100%;
    border-radius: 10px;
}