@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-color: #19181A;
    --bg-2-color: #111111;

    --nav-color: rgba(0, 0, 0, 0.521);
    --nav-items-color: #e0e1dd;
    --nav-items-hover-color: #1b263b;
    --nav-items-hover-bg-color: #e9e7f3;

    --titles-color: #e0e1dd;
    --text-color: #e0e1dd;

    --good-buttons-color: #e0e1dd;
    --good-buttons-hover-color: #b1b2b4;
    --bad-buttons-color: #dc3545;
    --bad-buttons-hover-color: #c82333;
    --buttons-text-color: #1b263b;

    --table-color: #ffffff;
    --table-even-rows-color: #0e0e0e;
    --table-headers-color: black;
    --table-headers-text-color: #ffffff;
    --table-text-color: #333;
    --table-border-color: #ddd;
}

main {
    background-color: var(--bg-2-color) !important;
    color: var(--text-color) !important;
}

body {
    font-family: "Kanit", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color)
}

h1, h2, h3 {
    font-weight: bold;
    color: var(--titles-color);
    text-align: center;
}

nav {
    display: flex;
    background-color: var(--nav-color);
    color: var(--nav-items-color);
    padding: 0 25px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 10px;

    img {
        margin-right: auto;
        transition: all 0.3s ease;
        filter: brightness(0) invert(1) grayscale(1);
        &:hover {
            transform: scale(1.2);
            transition: all 0.3s ease;
        }
    }

    ul {
        align-items: center;
        list-style-type: none;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;

        li {
            margin: 40px 20px;

            a {
                text-decoration: none;
                color: var(--nav-items-color);
                font-size: 22px;
                padding: 10px;
                border-radius: 10px;
                transition: all 0.3s ease;
                &:hover {
                    color: var(--nav-items-hover-color);
                    transition: all 0.5s ease;
                    background-color: var(--nav-items-hover-bg-color);
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
                }
            }
        }
    }
}

label {
    font-size: 18px;
    margin-right: 10px;
}

select, input {
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    margin-right: 15px;
    border: 1px solid var(--nav-items-color);
    background-color: var(--nav-color);
    color: var(--nav-items-color) !important;

    &[type="text"] {
        width: 95%;
        padding: 8px;
        border: 1px solid var(--nav-items-color);
        border-radius: 4px;
        transition: border-color 0.3s ease;
    }

    &:focus, &:active, &:focus-visible {
        border-color: var(--nav-color);
    }

    &::placeholder {
        color: var(--nav-items-color);
    }
}

button {
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    background-color: var(--good-buttons-color);
    color: var(--buttons-text-color);
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.151) 0px 5px 15px;
    transition: all 0.3s ease;
    &:hover {
        background-color: var(--good-buttons-hover-color);
        transition: all 0.3s ease;
    }
}

table {
    width: 80%;
    margin: auto;
    border: 1px solid var(--table-border-color);
    box-shadow: rgba(0, 0, 0, 0.096) 0px 5px 15px;

    thead {
        background-color: var(--table-headers-color);
        color: var(--table-headers-text-color);
        font-size: 20px;

        th {
            padding: 10px;
            text-align: left;
            border: 1px solid var(--table-border-color);
        }
    }

    tbody {
        td {
            padding: 10px;
            border: 1px solid var(--table-border-color);
        }

        tr:nth-child(even) {
            background-color: var(--table-even-rows-color);
        }

        .higher {
            color: green;
            font-size: large;
            align-items: center;
        }

        .lower {
            color : red;
            font-size: large;
            align-items: center;
        }
    }
}

.reset-button {
    background-color: var(--bad-buttons-color);
    color: var(--nav-items-color);
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.151) 0px 5px 15px;
    transition: all 0.3s ease;
    &:hover {
        background-color: var(--bad-buttons-hover-color);
        transition: all 0.3s ease;
    }
}

.popup {
    background-color: var(--bg-2-color);
}

.loading {
    background-image: url(../img/rc-logo.png);
    background-position: 50%;
    background-repeat: no-repeat;
    height: calc(100vh - 500px);
    filter: brightness(0) invert(1) grayscale(1);
}