h1, h2, h3 {
    font-family: 'Arial', sans-serif; /* Apply the same font family to headings */
    font-weight: bold; /* Adjust the font weight for headings */
    color: #2D3047; /* Set the heading color */
    text-align: center;
}

.content {
    position: absolute;
    color: white;
    top: 90%;
    left: 39%;
    padding: 20px;
    margin: auto;
    max-width: 800px;
    background-color: rgba(45, 48, 71, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}