@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Kanit", sans-serif;
}

h1, h2, h3 {
    font-weight: bold; /* Adjust the font weight for headings */
    color: #2D3047; /* Set the heading color */
    text-align: center;
}

.content {
    position: absolute;
    color: white;
    top: 60%;
    left: 39%;
    padding: 20px;
    margin: auto;
    max-width: 800px;
    background-color: rgba(45, 48, 71, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}