main {
    width: 100%;
    background-color: #eee;
    border-radius: 10px;
    min-height: calc(100vh - 130px);

    .selection {
        display: flex;
        justify-content: center;
        padding: 50px;
        border-radius: 10px;
    }

    .results {
        margin-top: 20px;
    }
}