<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ratios calc{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" href="{% static 'img/logo-removebg-preview.png' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>

<nav>
    <ul>
        <li id="logo_li"><a href="{% url 'landing' %}"><img id="logo_img" src={% static 'img/logo-removebg-preview.png' %} alt="logo.jpg"></a></li>
        <li><a href="{% url 'landing' %}">Home</a></li>
        <li><a href="{% url 'one_year' %}">View Ratios</a></li>
        <li><a href="{% url 'compare' %}">Compare Ratios</a></li>
        <li><a href="{% url 'create' %}">Add Company</a></li>
    </ul>
</nav>

<div class="content-above-image">
    {% block content_above_image %}{% endblock %}
</div>
{% if request.path == '/' %}
<div class="above-image">
{% endif %}
    
</div>
<div class="{% if request.path == '/' %} content {% else %} data {% endif %}">
    {% block content %}{% endblock %}
</div>
</body>
</html>
