{% extends 'base.html' %}
{% block extra_head %}
    {{ block.super }}
        {% load static %}
        <script src="{% static "js/compare_ratios.js" %}"></script>
        <link rel="stylesheet" href="{% static "css/compare_ratios.css" %}">
        <script>
            var companyData = {{ dates|safe }};
        </script>
    {% endblock %}
{% block content %}
    <main>
        <div class="selection">
            <form action="">
                <label for="company">Company:</label>
                <select name="company" id="company" required>
                    <option value="" disabled selected hidden>Company</option>
                    {% for item in dates %}
                        <option value="{{ item.company }}">{{ item.company }}</option>
                    {% endfor %}
                </select>
                <label for="year1">Year 1:</label>
                <select name="year1" id="year1" required>
                    <option value="" disabled selected hidden>Year 1</option>
                </select>
                <label for="year2">Year 2:</label>
                <select name="year2" id="year2" required>
                    <option value="" disabled selected hidden>Year 2</option>
                </select>
                <label for="type">Type:</label>
                <select name="type" id="type" required>
                    <option value="" disabled selected hidden>Type</option>
                    <option value="liquidity">Liquidity</option>
                    <option value="leverage">Leverage</option>
                    <option value="assetsto">Assets Turnover</option>
                    <option value="profitability">Profitability</option>
                    <option value="marketvalue">Market Value</option>
                </select>
                <button>View Ratios</button>
            </form>
        </div>
        <div class="results">
            {% if ratios %}
                <h2>Results</h2>
                <table>
                    <thead>
                    <tr>
                        <th>Ratio</th>
                        <th>{{request.GET.year1}}</th>
                        <th>{{request.GET.year2}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in ratios %}
                        <tr>
                            <td>{{ i }}</td>
                            <td>{{ result1.geti }}</td> not working
                            <td>{{ result2.geti }}</td>
                        </tr>
                    {% endfor %}
            {% else %}
                <h2>Example<h2>
                <table>
                    <thead>
                    <tr>
                        <th>Ratio</th>
                        <th>Year 1 Value</th>
                        <th>Year 2 Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Current Ratio</td>
                        <td>1.5</td>
                        <td>2.4</td>
                    </tr>
                    <tr>
                        <td>Quick Ratio</td>
                        <td>1.2</td>
                        <td>2.7</td>
                    </tr>
                    <tr>
                        <td>Debt Ratio</td>
                        <td>0.6</td>
                        <td>0.1</td>
                    </tr>
                    <tr>
                        <td>Profit Margin</td>
                        <td>0.2</td>
                        <td>0.2</td>
                    </tr>
                    <tr>
                        <td>Return on Assets</td>
                        <td>0.1</td>
                        <td>0.2</td>
                    </tr>
                    <tr>
                        <td>Return on Equity</td>
                        <td>0.15</td>
                        <td>0.12</td>
                    </tr>
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock %}
