{% extends 'base.html' %}
{% block extra_head %}
    {{ block.super }}
        {% load static %}
        <link rel="stylesheet" href="{% static "css/landing.css" %}">
    {% endblock %}
{% block content %}
	<div class="presentation">
        <div class="presentation-data">
            <div class="about-project">
                <h1>Welcome to RatioCalc</h1>
                <p><strong>RatioCalc</strong> is a user-friendly website designed to streamline financial analysis. Just provide your company's data, and <strong>RatioCalc</strong> will generate essential financial ratios promptly. Effortless, yet precise, <strong>RatioCalc</strong> is the go-to tool for informed decision-making in the world of finance.</p>
            </div>
            <hr class="vertical-line">
            <div class="team">
                <h2>Company Used: Alexandria Mineral Oils (AMOC)</h2>
                <h3>Team Members</h3>
                <ul class="team-members">
                    <li>Abdelrhman Mohammed</li>
                    <li>Viola Rasmy</li>
                    <li>Arjwan Mustafa</li>
                    <li>Mai Yasser</li>
                    <li>Ziad Walid</li>
                    <li>Mohamed Ibrahim</li>
                    <li>Amr Ramadan</li>
                </ul>
            </div>
        </div>
	</div>
{% endblock %}
