<!-- other_template.html -->
{% extends 'base.html' %}

{% block extra_head %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/landing.css" %}">
{% endblock %}

{% block content_above_image %}
    <div class="content-above-image">
        <h1>Welcome to Our WebApplication</h1>
        <h2>Ratios Calculator</h2>
        <p id="para_before_img">this app will automate the calculation of the financial ratios.</p>
    </div>
{% endblock %}

{% block content %}

<h4>Company: Alexandria Mineral Oils (AMOC)</h4>
<h4>Team Members</h4>
<ul class="team-members">
    <li>Abdelrhman Mohammed</li>
    <li>Viola Ramsy</li>
    <li>Arjwan Mustafa</li>
    <li>Mai Yasser</li>
    <li>Ziad Walid</li>
    <li>Mohamed Ibrahim</li>
    <li>Amr Ramadan</li>
</ul>

{% endblock %}
