{% extends 'base.html' %}
{% block extra_head %}
    {{ block.super }}
        {% load static %}
        <script src="{% static "js/view_ratios.js" %}"></script>
        <link rel="stylesheet" href="{% static "css/view_ratios.css" %}">
        <script>
            var companyData = {{ dates|safe }};
        </script>
    {% endblock %}
{% block content %}
    <main>
        <div class="selection">
            <form id="ratios-form" action="">
                <label for="company">Company:</label>
                <select name="company" id="company" required>
                    <option value="" disabled selected hidden>Company</option>
                    {% for item in dates %}
                        <option value="{{ item.company }}">{{ item.company }}</option>
                    {% endfor %}
                </select>
                <label for="year">Year:</label>
                <select name="year" id="year" required>
                    <option value="" disabled selected hidden>Year</option>
                </select>
                <label for="type">Type:</label>
                <select name="type" id="type" required>
                    <option value="" disabled selected hidden>Type</option>
                    <option value="liquidity">Liquidity</option>
                    <option value="leverage">Leverage</option>
                    <option value="assetsto">Assets Turnover</option>
                    <option value="profitability">Profitability</option>
                    <option value="marketvalue">Market Value</option>
                </select>
                <button type="submit">View Ratios</button>
            </form>
        </div>
        {% if not result %}
        <style>
            main {
                background-image: url(../static/img/rc-logo-copy.png);
                background-repeat: no-repeat;
                background-position: center;
                background-position-y: 20px;
            }
        </style>
        {% endif %}
        <div class="results">
            <h2>{{ request.GET.company|title }} - {{ request.GET.year }} - {{ request.GET.type|title }}</h2>
            <table>
                <thead>
                    <tr>
                        <th>Ratio</th>
                        <th>Formula</th>
                        <th>Numbers</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
            {% for i in result %}
                <tr>
                    <td>{{ i.type }}</td>
                    <td>{{ i.formula }}</td>
                    <td>{{ i.numbers }}</td>
                    <td>{{ i.value }}</td>
                </tr>
            {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}